{% extends 'sitebdeSiteVitrineBundle::vueMereSiteVitrine.html.twig' %}

{% block boutonAccueil%}
    <li class='active'><a href="{{ path('sitebde_siteVitrine_accueil') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-9">
            <h1>Hego Berria</h1>
            <p>Bienvenue sur la page d'accueil !</p>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dernières actualités</h3>
                    </div>
                    <div class="list-group">
                        {% for actuCourante in actualites %}
                            <a href="{{ path('sitebde_siteVitrine_detailsActualite', {'idActu':actuCourante.id}) }}" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="{{ asset('images/iconesActualites/' ~ actuCourante.icone) }}" alt="Logo" class="img-rounded img-responsive">
                                    </div>
                                    <div class="col-sm-9">
                                        {{ actuCourante.titre }}
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <p>Il n'y a aucune actualité.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Evènements à venir</h3>
                    </div>
                    <div class="list-group">
                        {% for evenementCourant in evenements %}
                            <a href="{{ path('sitebde_siteVitrine_detailsEvenement', {'idEvent':evenementCourant.id}) }}" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="{{ asset('images/iconesEvenements/' ~ evenementCourant.icone) }}" alt="Logo" class="img-rounded img-responsive">
                                    </div>
                                    <div class="col-sm-9">
                                        {{ evenementCourant.dateEvenement|date("d/m/Y") }} : {{ evenementCourant.titre }}
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <p>Il n'y a aucun évènement.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
