{% extends 'sitebdeSiteVitrineBundle::vueMereSiteVitrine.html.twig' %}


{% block boutonActualites %}
    <!-- Si c'est un formulaire d'actualité, rendre actif le bouton Actualités de la navbar -->
    {% if typeArticle == 'actualite' %}
        <li class="active"><a href="{{ path('sitebde_siteVitrine_liste_actualites') }}"><span class="sr-only">(current)</span>Actualités</a></li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block boutonEvenements %}
    <!-- Si c'est un formulaire d'événement, rendre actif le bouton Evénements de la navbar -->
    {% if typeArticle == 'evenement' %}
        <li class="active"><a href="{{ path('sitebde_siteVitrine_liste_evenements') }}"><span class="sr-only">(current)</span>Evénements</a></li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block boutonInformations %}
    <!-- Si c'est un formulaire d'information, rendre actif le menu dropdown Informations de la navbar -->
    {% if typeArticle == 'information' %}
        <li class="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for infoCourante in informations %}
                    <li><a href="{{ path('sitebde_siteVitrine_information', {'idInfo':infoCourante.id}) }}">{{ infoCourante.titre }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block contenu %}
    <div class="row top-buffer">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            
            <!-- Panel du formulaire -->
            <div class="panel panel-default">
                
                <!-- Titre du formulaire : passé en paramètre -->
                <div class="panel-heading">
                    <h4> {{ titreFormulaire }} </h4>
                </div>
                
                <!-- Contenu du panel -->
                <div class="panel-body">
                    <form method="post" {{ form_enctype(formulaire) }}>
                        
                        <!-- Afficher les champs titre et le contenu -->
                        {{ form_row(formulaire.titre) }}
                        {{ form_row(formulaire.contenu) }}
                        
                        <!-- Si c'est un événement ou une actualité, ajouter des champs -->
                        {% if typeArticle == 'evenement' or typeArticle == 'actualite' %}
                            
                            <!-- Si c'est un événement, ajouter le champ dateEvenement -->
                            {% if typeArticle == 'evenement' %}
                                {{ form_row(formulaire.dateEvenement) }}
                            {% endif %}
                            
                            <!-- Icône -->
                            <div class="row">
                                
                                <!-- Miniature de l'image -->
                                <div class="col-sm-2" id="image">
                                    
                                    <!-- Si c'est un formulaire d'ajout, ajouter une miniature d'image sans source (elle sera modifiée par le javascript
                                    quand l'utilisateur aura sélectionné une image) -->
                                    {% if typeGestion == "ajout" %}
                                        <img id="miniatureAjout" class="thumbnail img-responsive"/>
                                        
                                    <!-- Sinon, ajouter une miniature d'image avec comme source l'icône existant (elle sera aussi modifiée par le javascript
                                    à chaque fois que l'utilisateur changera l'image) -->
                                    {% elseif typeGestion == "modification" %}
                                        <img id="miniatureModif" class="thumbnail img-responsive" src="{{ asset('images/iconesArticles/') ~ formulaire.vars.value.icone }}"/>
                                    {% endif %}
                                    
                                </div>
                                
                                <!-- Champ de sélection de l'image -->
                                <div class="col-sm-10">
                                    {{ form_row(formulaire.imageFile) }}
                                </div>
                                
                            </div>
                        {% endif %}
                        
                        <!-- Afficher tous les autres champs du formulaire (y compris le token caché et nécessaire) -->
                        {{ form_rest(formulaire) }}
                        
                        <!-- Bouton de soumission du formulaire : texte passé en paramètre -->
                        <center><input type="submit" class="btn btn-success" value="{{ boutonFormulaire }}" /></center>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <!-- Script permettant de mettre à jour la miniature de l'image -->
    <script type="text/javascript">
        
        // Par défaut, le formulaire n'est pas un formulaire d'information
        informationFormulaire = false;
        
        // Mettre à jour la variable contenant l'id du champ de l'image si c'est une actualité
        if (document.getElementById("actualite_imageFile") != null)
        {
            nomImageFile = "actualite_imageFile";
        }
        else
        {
            // Mettre à jour la variable contenant l'id du champ de l'image si c'est un événement
            if (document.getElementById("evenement_imageFile") != null)
            {
                nomImageFile = "evenement_imageFile";
            }
            
            // Sinon, c'est une information
            else
            {
                informationFormulaire = true;
            }
                
        }
        
        // Si le formulaire n'est pas un formulaire d'information, s'occuper de la miniature
        if (!informationFormulaire)
        {
            // Si c'est une création, cacher la miniature tant qu'aucune image n'a été sélectionnée
            if (document.getElementById("miniatureAjout") != null)
            {
                document.getElementById("miniatureAjout").setAttribute("style", "display: none;");
            }
            
            // A chaque fois que l'utilisateur sélectionne une image
            document.getElementById(nomImageFile).onchange = function () {
                var reader = new FileReader();
            
                // Mettre à jour la miniature correspondante (et l'afficher si c'est une création d'objet)
                reader.onload = function (e) {
                    if (document.getElementById("miniatureAjout") != null)
                    {
                        document.getElementById("miniatureAjout").src = e.target.result;
                        document.getElementById("miniatureAjout").setAttribute("style", "display: block;");
                    }
                    else
                    {
                        document.getElementById("miniatureModif").src = e.target.result;
                    }
                };
            
                reader.readAsDataURL(this.files[0]);
            };
        }
    </script>
    
    {{ parent() }}
{% endblock %}