{% extends 'sitebdeSiteVitrineBundle::vueMereSiteVitrine.html.twig' %}



{% block boutonActualite %}
    {% if typeArticle=='actualite' %}
        <li class="active"><a href="{{ path('sitebde_siteVitrine_listeActualites') }}"><span class="sr-only">(current)</span>Actualités</a></li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
    


{% block boutonEvenement %}
    {% if typeArticle=='evenement' %}
        <li class="active"><a href="{{ path('sitebde_siteVitrine_listeEvenements') }}"><span class="sr-only">(current)</span>Evènements</a></li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block boutonInformation %}
    {% if typeArticle=='information' %}
        <li class="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for infoCourante in informations %}
                    <li><a href="{{ path('sitebde_siteVitrine_information', {'idInfo':infoCourante.id}) }}">{{ infoCourante.titre }}</a></li>
                {% else %}
                    <li><a href="#">Il n'y a aucune information.</a></li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block contenu %}
    <div class="row">
        {% if typeArticle == "actualite" %}
            <form action="{{ path('sitebde_siteVitrine_ajouterActualite') }}">
                <center>
                    <button class="btn btn-primary" type="submit">
                        <h5>Ajouter une actualité</h5>
                    </button>
                </center>
        {% elseif typeArticle == "evenement" %}
            <form action="{{ path('sitebde_siteVitrine_ajouterEvenement') }}">
                <center>
                    <button class="btn btn-primary" type="submit">
                        <h5>Ajouter un événement</h5>
                    </button>
                </center>
            </form>
        {% elseif typeArticle == "information" %}
            <form action="{{ path('sitebde_siteVitrine_ajouterInformation') }}">
                <center>
                    <button class="btn btn-primary" type="submit">
                        <h5>Ajouter une information</h5>
                    </button>
                </center>
        {% endif %}
            </form>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="list-group">
                {% for articleCourant in articles %}
                    {% if typeArticle == "actualite" %}
                        <a href="{{ path('sitebde_siteVitrine_detailsActualite', {'idActu':articleCourant.id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="{{ asset('images/iconesActualites/' ~ articleCourant.icone) }}" alt="Logo" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="list-group-item-heading">{{ articleCourant.titre }}</h4>
                                    {% if articleCourant.datePublication != articleCourant.dateActualisation %}
                                        <p><small>Date d'actualisation : {{ articleCourant.dateActualisation|date("d/m/Y") }}
                                         - Date de publication : {{ articleCourant.datePublication|date("d/m/Y") }}</small></p>
                                    {% else %}
                                        <p><small>Date de publication : {{ articleCourant.datePublication|date("d/m/Y") }}</small></p>
                                    {% endif %}
                                    <p>{{ articleCourant.contenu|length > 200 ? articleCourant.contenu|slice(0, 200) ~ '...' : articleCourant.contenu }}</p>
                                </div>
                            </div>
                        </a>
                    {% elseif typeArticle == "evenement" %}
                        <a href="{{ path('sitebde_siteVitrine_detailsEvenement', {'idEvent':articleCourant.id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="{{ asset('images/iconesEvenements/' ~ articleCourant.icone) }}" alt="Logo" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="list-group-item-heading">{{ articleCourant.dateEvenement|date("d/m/Y") }} : {{ articleCourant.titre }}</h4>
                                    {% if articleCourant.datePublication != articleCourant.dateActualisation %}
                                        <p><small>Date d'actualisation : {{ articleCourant.dateActualisation|date("d/m/Y") }}
                                         - Date de publication : {{ articleCourant.datePublication|date("d/m/Y") }}</small></p>
                                    {% else %}
                                        <p><small>Date de publication : {{ articleCourant.datePublication|date("d/m/Y") }}</small></p>
                                    {% endif %}
                                    <p>{{ articleCourant.contenu|length > 200 ? articleCourant.contenu|slice(0, 200) ~ '...' : articleCourant.contenu }}</p>
                                </div>
                            </div>
                        </a>
                    {% elseif typeArticle == "information" %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 id={{ articleCourant.id }} class="list-group-item-heading">{{ articleCourant.titre }}</h4>
                                    <p>{{ articleCourant.contenu }}</p>
                                    <hr>
                                </div>
                            </div>
                    {% else %}
                        <p>Il n'y a rien.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}
