{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}

{% block navbar %}
    <div class="row">
        <div class="col-sm-10">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('sitebde_siteVitrine_accueil') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            <li><a href="{{ path('sitebde_parrainage_premieres_annees') }}">1° années</a></li>
                            <li><a href="{{ path('sitebde_parrainage_deuxiemes_annees') }}">2° années</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('sitebde_parrainage_profil') }}">Prénom Nom</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-2">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('sitebde_siteVitrine_accueil') }}">Site BDE</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Propositions <strong>parrains/filleuls</strong></h3>
                </div>
                <div class="list-group">
                    {% for etudiantPropose in etudiantsProposes %}
                        <a href="{{ path('sitebde_parrainage_details_profil', {'idEtudiant':etudiantPropose.id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ asset('images/photosEtudiants/' ~ etudiantPropose.photo) }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="list-group-item-heading">{{ etudiantPropose.prenom }} {{ etudiantPropose.nom }}</h4>
                                    <p>Vous avez n critères en commun (critère 1, critère 2...)</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Informations</h3>
                </div>
                <div class="panel-body">
                    Blah blah blah
                </div>
            </div>
        </div>
    </div>
{% endblock %}