{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}


{% block boutonAccueil %}
    <li class="active"><a href="{{ path('sitebde_parrainage_accueil') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
{% endblock %}


{% block contenu %}
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    {% if etudiantConnecte.numAnnee == 1 %}
                        <h3 class="panel-title text-center">Propositions de parrains</h3>
                    {% elseif etudiantConnecte.numAnnee == 2 %}
                        <h3 class="panel-title text-center">Propositions de filleuls</h3>
                    {% endif %}
                </div>
                <div class="list-group">
                    {% for etudiantPropose in etudiantsProposes %}
                        <a href="{{ path('sitebde_parrainage_details_profil', {'idEtudiant':etudiantPropose[0].id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ asset('images/photosEtudiants/' ~ etudiantPropose[0].photo) }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="list-group-item-heading">{{ etudiantPropose[0].prenom }} {{ etudiantPropose[0].nom }}</h4>
                                    <p>Vous avez {{ etudiantPropose[1] }} critère(s) en commun.</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Informations</h3>
                </div>
                <div class="panel-body">
                    Bienvenue sur le système de parrainage du BDE ! Vous pourrez ici chercher à vous faire parrainer 
                    ou bien à être parrainé !
                </div>
            </div>
        </div>
    </div>
{% endblock %}