{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}

{% block navbar %}
    <div class="row">
        <div class="col-sm-10">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('sitebde_siteVitrine_accueil') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            <li><a href="{{ path('sitebde_parrainage_premieres_annees') }}">1° années</a></li>
                            <li><a href="{{ path('sitebde_parrainage_deuxiemes_annees') }}">2° années</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('sitebde_parrainage_profil') }}">Prénom Nom</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a></li>
                            
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                            <script  type="text/javascript" src="../js/typeahead/0.11.1/typeahead.bundle.js"></script>
                            <script type="text/javascript">
                            $(document).ready(function(){
                                // Defining the local dataset
                                var etudiants = [
                                    {%for etudiant in etudiants%}
                                    "{{etudiant.prenom}} {{etudiant.nom}}"
                                    {%if not loop.last%}, {%endif%}
                                    {%endfor%}
                                    ];
                                
                                // Constructing the suggestion engine
                                var etudiants = new Bloodhound({
                                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                                    local: etudiants
                                });
                                
                                // Initializing the typeahead
                                $('.typeahead').typeahead({
                                    hint: true,
                                    highlight: true, /* Enable substring highlighting */
                                    minLength: 1 /* Specify minimum characters required for showing result */
                                },
                                {
                                    name: 'etudiants',
                                    source: etudiants
                                });
                            });  
                            </script>
                            
                            <form action="{{path('sitebde_parrainage_details_profil_redirection')}}" method="post" class="navbar-form navbar-right">
                                <div class="form-group">
                                    <input id="barreDeRecherche" type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false" name="nomComplet" placeholder="Chercher" required>
                                </div>
                                <button id="btn" type="submit" class="btn btn-default">Go !</button>
                            </form>
                            <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-2">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('sitebde_siteVitrine_accueil') }}">Site BDE</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Propositions <strong>parrains/filleuls</strong></h3>
                </div>
                <div class="list-group">
                    {% for etudiantPropose in etudiantsProposes %}
                        <a href="{{ path('sitebde_parrainage_details_profil', {'idEtudiant':etudiantPropose.id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ asset('images/photosEtudiants/' ~ etudiantPropose.photo) }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="list-group-item-heading">{{ etudiantPropose.prenom }} {{ etudiantPropose.nom }}</h4>
                                    <p>Vous avez n critères en commun (critère 1, critère 2...)</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Informations</h3>
                </div>
                <div class="panel-body">
                    Blah blah blah
                </div>
            </div>
        </div>
    </div>
{% endblock %}