{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}



{% block contenu %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <a href="{{ path('sitebde_parrainage_accueil') }}">Retour accueil</a>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> {{ titreFormulaire }} </h4>
            </div>
            <div class="panel-body">
                <!--Méthode de formulaire dépréciée, cependant nous n'avons pas réussi à faire mieux-->
                <form method="post" {{ form_enctype(formulaire) }}>
                    {{ form_row(formulaire.description) }}
                    <div class="row">
                        <div class="col-sm-2" id="image">
                            <img id="miniatureModif" class="thumbnail img-responsive" src="{{ asset('images/photosEtudiants/') ~ formulaire.vars.value.photo.filename }}"/>
                        </div>
                        <div class="col-sm-10">
                            {{ form_row(formulaire.imageFile) }}
                        </div>
                    </div>
                    {{ form_rest(formulaire) }}
                    <center><input type="submit" class="btn btn-success" value="Enregistrer" /></center>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // A chaque fois qu'on détecte un changement sur le champ d'image
        document.getElementById("sitebde_parrainagebundle_etudiant_imageFile").onchange = function () {
            var reader = new FileReader();
        
            // Mettre à jour la miniature
            reader.onload = function (e) {
                document.getElementById("miniatureModif").src = e.target.result;
            };
        
            reader.readAsDataURL(this.files[0]);
        };
    </script>
{% endblock %}