{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}

{% block bouton1eAnnee %}
    <li class="active"><a href="{{ path('sitebde_parrainage_premieres_annees') }}">1° années</a></li>
{% endblock %}
                            
{% block contenu %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="list-group">
                {% for etudiantCourant in etudiantsPremieresAnnees %}
                    <a href="{{ path('sitebde_parrainage_details_profil', {'idEtudiant':etudiantCourant.id}) }}" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="{{ asset('images/photosEtudiants/' ~ etudiantCourant.photo) }}" class="img-rounded img-responsive">
                            </div>
                            <div class="col-sm-11">
                                <h4 class="list-group-item-heading">{{ etudiantCourant.prenom }} {{ etudiantCourant.nom }}</h4>
                                <p>{{ etudiantCourant.description|length > 200 ? etudiantCourant.description|slice(0, 200) ~ '...' : etudiantCourant.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}