{% extends '::vueMere.html.twig' %}

{% block header %}
<a href="{{path('sitebde_siteVitrine_accueil') }}" style="text-decoration: none">
    <div class="jumbotron" style="position: relative;
                                  background: url({{ asset('images/temporaire/stars1.png') }}) center center;
                                  width: 100%;
                                  height: 100%;
                                  background-size: cover;
                                  overflow: hidden;">
            <h1 class="text-center">Hego Berria - Site Vitrine</h1>
    </div>
</a>
{% endblock %}


{% block navbar %}
    <div class="row">
        <div class="col-sm-10">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            
                            {% block boutonAccueil%}
                                <li><a href="{{ path('sitebde_siteVitrine_accueil') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            {% endblock %}
                            
                            {% block boutonActualite %}
                                <li><a href="{{ path('sitebde_siteVitrine_listeActualites') }}">Actualités</a></li>
                            {% endblock %}
                            
                            {% block boutonEvenement %}
                                <li><a href="{{ path('sitebde_siteVitrine_listeEvenements') }}">Evènements</a></li>
                            {% endblock %}
                            
                            {% block boutonInformation %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                    {% for infoCourante in informations %}
                                        <li><a href="{{ path('sitebde_siteVitrine_information', {'idInfo':infoCourante.id}) }}">{{ infoCourante.titre }}</a></li>
                                    {% else %}
                                        <li><a href="#">Il n'y a aucune information.</a></li>
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endblock %}
                            
                            {% block boutonConnexion %}
                                <li><a href="{{ path('sitebde_siteVitrine_connexion') }}">Se connecter</a></li>
                            {% endblock %}
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-2">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('sitebde_parrainage_accueil') }}">Parrainage</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
